<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <script src="{{url_for('static', filename='src/index.js')}}"></script>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body class="bg-white">
    <nav class="fixed flex place-content-center w-full flex-nowrap bg-amber py-2 lg:py-4 text-lg font-semibold">
      <div class="px-3">
          <ul class="flex flex-col pl-0 lg:mt-1 lg:flex-row">
            <li class="my-4 pl-6 lg:my-0 lg:pl-6 lg:pr-1">
              <a class="" href="/login">Login</a>
            </li>
            <li class="my-4 pl-6 lg:my-0 lg:pl-6 lg:pr-1">
              <a href="/logout">Logout</a>
            </li>
            <li class="my-4 pl-6 lg:my-0 lg:pl-6 lg:pr-1">
              <a href="/register">Register</a>
            </li>
            <li class="my-4 pl-6 lg:my-0 lg:pl-6 lg:pr-1">
              <a href="/">Decks</a>
            </li>
            <li class="my-4 pl-6 lg:my-0 lg:pl-6 lg:pr-1">
              <a href="/add_card">Add Card</a>
            </li>
          </ul>
      </div>
    </nav>
    {% block content %} {% endblock %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="toast" class="fixed right-10 bottom-20 px-6 py-4 border-r-8 border-amber bg-white drop-shadow-lg rounded">
          <p class="text-lg font-mono">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
          </p>
        </div>
      {% endif %}
    {% endwith %}
  </body>
</html>