{% extends 'base.html' %}

{% block title %} Decks {% endblock %}

{% block content %}
        <table>
            <thead>
                <tr>
                    <th>Deck Name</th>
                    <th>Number of Cards</th>
                </tr>
            </thead>
            <tbody>
                {% for deck in decks %}
                    <tr>
                        <td>{{ deck.deckName }}</td>
                        <td>{{ deck.numberOfCards}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="absolute inset-x-0 bottom-0 pb-10 flex justify-center">
        <button class="border-solid border-2 border-thistle font-semibold py-2 text-lg hover:bg-thistle px-4" onclick="createDeck()"> Add Deck </button>  
    </div>
{% endblock %}