{% extends 'base.html' %} 
  {% block title %} Revise a deck {% endblock %} 
  {% block content %}
    <div class="flex items-center min-h-screen">
      <div class="w-full max-w-4xl px-8 py-8 mx-auto bg-white border rounded-lg">
        <div class="max-w-full space-y-3">
            <div>
              <label class="block py-2 font-bold">Front</label>
              <p>{{  card.front }}</p>
            </div>
            <div id ="card_back" class="hidden">
              <label class="block py-2 font-bold">Back</label>
              <p>{{  card.back }}</p>
            </div>
            <div class="pt-10 flex flex-col items-center">
              <button
                type="button"
                id = "card_state"
                class="bg-amber border w-fit-content py-2 px-2 rounded-none"
                value="known"
                onclick="change_card_state()"
              >
                Show
              </button>
              <form method="post" action="/process_next_card">
                  <input class="hidden" type="number" id="deck_id" name="deck_id" value="{{ card.deck_id }}">
                  <input class="hidden" type="number" id="next_card_id" name="next_card_id" value="{{ next_card_id }}">
                  <input class="hidden" type="number" id="current_familiarity" name="current_familiarity" value="{{ card.familiarity }}">
                  <input class="hidden" type="number" id="current_card_id" name="current_card_id" value="{{ card.card_id }}">
                  <button
                    type="submit"
                    name="familiarity_update"
                    class="bg-burnt-sienna border w-full py-2 px-2 rounded-none"
                    value="known"
                  >
                    Known
                  </button>
              </form>
              <form method="post" action="/process_next_card">
                  <input class="hidden" type="number" id="deck_id" name="deck_id" value="{{ card.deck_id }}">
                  <input class="hidden" type="number" id="next_card_id" name="next_card_id" value="{{ next_card_id }}">
                  <input class="hidden" type="number" id="current_familiarity" name="current_familiarity" value="{{ card.familiarity }}">
                  <input class="hidden" type="number" id="current_card_id" name="current_card_id" value="{{ card.card_id }}">
                  <button
                    type="submit"
                    name="familiarity_update"
                    class="bg-burnt-sienna border w-full py-2 px-2 rounded-none"
                    value="unknown"
                  >
                    Unknown
                  </button>
                </a>
              </form>
            </div>
            </div>
        </div>
      </div>
    </div>
  {% endblock %}
    